body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

#slider1 {
  background-image: url(./../images/carausel/1.jpeg);
}
#slider2 {
  background-image: url(./../images/carausel/2.gif);
}

header:hover #sliderControlArrow #next {
  right: 50px !important;
  opacity: 1;
  transition: 0.3s;
}
header:hover #sliderControlArrow #prev {
  left: 50px !important;
  opacity: 1;
  transition: 0.3s;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(500px * 8);
}

.slide {
  transition: 0.3s;
}

.slide-track .slide:nth-child(even) {
  transform: rotate(-3deg);
}
.slide-track .slide:nth-child(odd) {
  transform: rotate(3deg);
}

.slide-track .slide:hover {
  transform: rotate(0deg) scale(1.2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-500px * 4));
  }
}
/*  */

#main-slider-container {
  width: 100% !important;
  height: 155px !important;
}

#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
  display: none;
}

#main-slider-container {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-card-image {
  width: 100%;
  height: 150px !important;
  background-color: rgb(240 240 240 / 80%);
  border-radius: 10px !important;
}

.slider-card {
  width: 220px !important;
  height: 100px !important;
  background: white;
  border-radius: 0px !important;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: none !important;
  cursor: pointer;
}

#blink {
  animation: blink 6s infinite;
}

@keyframes blink {
  0% {
    left: -500px;
  }

  50% {
    left: 1000px;
  }

  100% {
    left: -500px;
  }
}
